{% extends 'base.html.twig' %}

{% block body %}
  {% for log in logs %}
    <div class="log">
      <span class="date">{{ log.date|date('d/m/Y') }}</span>
      <span class="loan-balance">{{ log.loanBalance|number_format }}</span>
      <span class="offset-balance">{{ log.offsetBalance|number_format }}</span>
    </div>
  {% endfor %}
{% endblock %}
