{% extends 'base.html.twig' %}

{% block javascripts %}
  {{- encore_entry_script_tags('default') -}}
{% endblock %}

{% block body %}
  <div class="d-flex justify-content-center">
    <div class="chart-container" style="position: relative; width:97vw">
      <canvas id="chart"></canvas>
    </div>
  </div>
{% endblock %}
